@import '../../global.scss';

.home{
  display: flex;
  flex-direction: row;
  height: 100%;

  &__sidebar{
    background-color: $color-regular;
    max-width: 200px;
    height:100%;
    padding: 20px;
  }

  &__main{
    background-color: $color-alternate;
    width:100%;
  }

}
