@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&family=Montserrat:wght@200;400&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Inter', sans-serif;
*/

$color-base: #2B3649; 
$color-primary: #07a496;
$color-secondary: #ffff;
$color-medsys: #3ed0bb; 
$color-alert: #e07a5f;
$color-warning: #f2cc8f;
$color-alternate: #FAFFFE;
$color-regular-hover: #2a8c8b;
$color-regular: #2aacaa;
$color-alternate: #FAFFFE;

